*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}

.hero-section h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 5%;
    color: #fff;
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




