.sell{
    font-family: "SFrounded", sans-serif;
    .sell-title{
        text-align: center;
        margin-bottom: 2rem;
        h2{
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
    }

    .center-container{
        display: flex;
        justify-content: center;
    }

    .sell-form-container{
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }

    
}
